<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:description="@string/app_description"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:ignore="UnusedAttribute">

        <!--
          This is a libxposed API 102 module only. Everything the framework needs to load it
          lives in java resources, not here:

            META-INF/xposed/module.prop      minApiVersion / targetApiVersion = 102
            META-INF/xposed/java_init.list   com.my.televip.xposed.TeleVipModule
            META-INF/xposed/scope.list       default scope

          The legacy API 93 descriptor (xposedmodule / xposedminversion / xposedscope
          meta-data plus assets/xposed_init) was deliberately removed. Leaving it in place
          would make pre-1.10 LSPosed and EdXposed advertise the module and then fail at
          load time, because there is no longer a de.robv entry class for them to find.
        -->

    </application>

</manifest>
